<section class="films-gallery">
  <div class="container">
    <h2 class="visually-hidden">Main page gallery</h2>
    <ul class="trending-gallery">
      <!-- <li class="cards-item">Something</li>
      <li class="cards-item"></li>
      <li class="cards-item"></li>
      <li class="cards-item"></li>
      <li class="cards-item"></li>
      <li class="cards-item"></li>
      <li class="cards-item"></li>
      <li class="cards-item"></li>
      <li class="cards-item"></li> -->
    </ul>
  </div>
</section>
